<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
</head>
<body>
<!-- TODO: Implement the front-end -->
<img src="sensequake-logo.png" width="150px" /> 
<h2 style="text-align: center;"> WELCOME TO SENSEQUAKE </h2>

<h5> Here is a random integer between 1-100 that gets created everytime the page is loaded: <%=randomInt %> </h5>
<button onclick="handleClick()">Click here to display the requested data</button>
<p id="header"></p>
<p id = "data"></p>

<script>

async function handleClick(){
    var elem = document.getElementById("data"); 
    elem.innerHTML = ""; 
    const response = await fetch("http://localhost:80/data")
    if(response.ok){
        const responseObject = await response.json();
        var header = document.getElementById("header"); 
        header.innerHTML = responseObject.header; 
        for(var i = 0; i < responseObject.processedData.length; i++){
            var elem = document.getElementById("data");  
            elem.innerHTML += responseObject.processedData[i]; 
            var lineBreak = document.createElement("br"); 
            elem.appendChild(lineBreak); 
        } 
    }else{
        console.log(response.status); 
    }
}
</script>

</body>
</html>